body {
    background-color: lightgreen;
    font-family: Arial;
}

.count {
    width: 800px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    color: lightcoral;
}

.header {
    font-size: 60px;
    align-self: center;
}

.time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    font-size: 50px;
}

.value {
    align-self: center;
}

.writting {
    font-size: 35px;
    align-self: center;
}